<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra cancelada</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Oops!</h1>
        <p class="text-center">Parece que has cerrado la ventana de la compra antes de completarla. No dude en volver al carrito cuando lo desee.</p>
        <div class="text-center mt-5">
            <a href="/" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</body>
</html>
