<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra exitosa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Listo!</h1>
        <p class="text-center">Ha completado su compra exitosamente. Ante cualquier duda, por favor comuniquese con nosotros.</p>
        <div class="text-center mt-5">
            <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
