@media screen and (min-width:767px) and (max-width:1023px){
    header{
        display: flex;
        height: 12em;
        background-color: aliceblue;
        align-items: center;
        flex-direction: column;
    }
    header nav{
        display: none;
    }
    #title-pag{
        font-size: 24px;
    }
    #form-contact{
        display: block;
        height: 80em;
    }
    #place-form{
        display: flex;
        width: 100%;
        margin:0;
        flex-wrap: wrap;
        align-content: center;
    }
    #Title-form{
        display: flex;
        flex-direction: column;
        width: 22em;
    }
    .dual-inputs{
        display: flex;
        flex-direction: column;
    }
    .inputstyle{
        height: 4.3vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    .input-s-style{
        height: 4.3vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    textarea{
        height: 15em;
        width: 48em;
        border: 1px solid #cfcfcf;
    }
}

@media screen and (max-width:767px){
    header{
        display: flex;
        height: 7.5em;
        background-color: aliceblue;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    #form-contact{
        display: block;
        height: 90em;
    }
    #Title-form{
        display: flex;
        flex-direction: column;
        width: 85vw;
    }
    #nav-bar{
        display: None;
        flex-direction: column;
        gap: 1em;
    }
    .container{
        margin: 2.5em 0px;
    }
    .inputstyle{
        height: 4.3vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    #place-form{
        display: flex;
        width: 100%;
        margin:0;
        align-content: center;
    }
    .dual-inputs{
        display: flex;
        flex-direction: column;
    }
    .dual-inputs div{
        display: flex;
        flex-direction: column;
    }
    #ham-button{
        display: flex;
    }
    .error-dual{
        width: 85vw;
    }
    textarea{
        height: 15em;
        width: 27em;
    }
    .input-s-style{
        height: 4.3vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    #contact-register{
        display: flex;
        align-items: center;
    }
    #contact-register div{
        display: flex;
        justify-content: center;
    }
    #cnc-local-form{
        flex-direction: column;
        align-items: center;
    }
}