:root{
    --bg-color: rgb(255,255,255);
    --primary-color: rgb(255,255,255);
    --secundary-color: grey;
    --third-color:#242357;
    --bg-input-color:rgba(255,255,255,0.1);
    --bg-footer: rgba(135, 132, 132, 0.438);
}

@media screen and (min-width:767px) and (max-width:1023px){
    header{
        position: sticky;
        display: flex;
        height: auto;
        background-color: var(--bg-color);
        flex-direction: column;
        z-index: 10;
        border-bottom: 2px solid var(--secundary-color);
    }
    nav{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nav-links div{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:40px;
        margin:20px;
    }

    #nav-place{
        display: none;
        animation: aparecerIzq .5s linear;
    }
    #abrir{
        display: block;
    }
    #cerrar{
        display: none;
    }
    #title-pag{
        font-size: 24px;
    }
    #form-contact{
        display: block;
    }
    #place-form{
        display: flex;
        width: 100%;
        margin:0;
        flex-wrap: wrap;
        align-content: center;
    }
    #Title-form{
        display: flex;
        flex-direction: column;
        width: 22em;
    }
    .dual-inputs{
        display: flex;
        flex-direction: column;
    }
    .inputstyle{
        height: 4.4vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    .input-s-style{
        height: 4.4vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    .error,.error-dual{
        border: 1px solid #ff0000;
        width: 85vw;
    }
    textarea{
        height: 15em;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    /***************************************************//*Footer*/
    h5{
        font-size: 1.4em;
    }
    .list-footer{
        gap: 22px;
    }
    .list-footer li{
        display: flex;
        justify-content: center;
    }
    #navegacion-footer{
        margin-left: 0px;
        margin-top: 30px;
    }
    #container-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        gap: 20px;
    }
    .block{
        margin:2em 0px;
    }
}

@media screen and (max-width:767px){
    header{
        position: sticky;
        display: flex;
        height: auto;
        background-color: var(--bg-color);
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 2px solid var(--secundary-color);
        z-index: 10;
    }
    nav{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nav-links div{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:40px;
        margin:20px;
    }
    h1{
        font-size: 1.7em;
    }
    #form-contact{
        display: block;
        height: 90em;
    }
    #path{
        margin-left:8vw;
    }
    #Title-form{
        display: flex;
        flex-direction: column;
        width: 85vw;
    }
    #abrir{
        display: block;
    }
    #cerrar{
        display: none;
    }
    #nav-bar{
        flex-direction: column;
        gap: 3em;
        margin: 40px 40px;
    }
    #nav-place{
        display: none;
        animation: aparecerIzq .5s linear;
    }
    .container{
        margin: 2.5em 0px;
    }
    .inputstyle{
        height: 4.4vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    #place-form{
        display: flex;
        width: 100%;
        margin:0;
        align-content: center;
    }
    .dual-inputs{
        display: flex;
        flex-direction: column;
    }
    .dual-inputs div{
        display: flex;
        flex-direction: column;
    }
    #ham-button{
        display: flex;
    }
    .error-dual{
        width: 85vw;
    }
    textarea{
        height: 15em;
        width: 84vw;
    }
    .input-s-style{
        height: 4.4vh;
        width: 85vw;
        border: 1px solid #cfcfcf;
    }
    #contact-register{
        display: flex;
        align-items: center;
    }
    #contact-register div{
        display: flex;
        justify-content: center;
    }
    #cnc-local-form{
        flex-direction: column;
        align-items: center;
    }
    .error,.error-dual{
        border: 1px solid #ff0000;
        width: 85vw;
    }
    /***************************************************//*Footer*/
    h5{
        font-size: 1.5em;
    }
    #info-footer{
        display: flex;
        justify-content:flex-start;
    }
    #container-footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .list-footer{
        gap:30px;
    }
    #navegacion-footer{
        margin-top: 30px;
    }
}

@keyframes aparecerIzq{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}