
from flask import Flask, render_template, request, redirect, url_for
from flask_sqlalchemy import SQLAlchemy
from stripe.checkout.session import create
from flask_mail import Mail, Message





.catalogo{
    margin: 30px 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.btn-catalogo{
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.btn-catalogo:hover{
    color: var(--secundary-color)!important;
    border: 2px solid var(--secundary-color);
}




.product{
    display: flex;
    flex-direction: row;
    gap:8px;
    justify-content: center;
    margin: 40px 0;


}

.img-product{
    width: 50%;
    object-fit: cover;
    padding-right: 5%;
    background: transparent;
}

.product-description{
    font-size: 80%;
    display: inline-block;
    max-height: 150px;
    text-align: justify;
    padding-top: 7%;
}

.volver{
    align-items: end;
}


.button{
    
    padding: 10px;
    border-radius: 10px;
    color: white;
    color: var(--secundary-color);
    border: 2px solid var(--secundary-color);
}

.button{
    background-color:#242357;
    padding: 10px 30px 10px 30px; 
    border-radius: 10px;
    color: white;

}

.button:hover{
    color: grey!important;
    border: 2px solid grey;
}



#copy-final{
    display: flex;
    justify-content: center;
    margin: 0.5em 0em;
    padding: 15px 15px 15px 15px;
    font-size: 0.8em;
}
.list-footer{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.list-footer a{
    box-sizing: border-box;
}
.title-list-footer h3{
    margin: 0em 10px;

    
}
.block{
    display: flex;
    margin: 3em;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

}


ul {
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
}

.place-list-footer{
    margin: 0.5em 0em;
}
.list-footer-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navegacion-footer{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em;
}


