#header-main{
    display: flex;
    align-items: center;
    height: 200px;
}

#admin-title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--third-color);
    font-size: 3vw;
    margin: 0px 10px;
    padding: 0px 20px;
}

#form-bd{
    height: 7em;
}

.label-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.form-inputs{
    display: flex;

}

.table-cell{
    padding: 5px 0px;
    border-bottom: 2px solid #bdbdbd;
}

.cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 15em;
}

.input-s-style{
    border:2px solid #777777;
    height: 26px;
    width: 14em;
    padding: 0px 25px;
}

.form-controls{
    display: flex;
    flex-direction: row;
}

.controles{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fff;
    width: 100vw;
}

.button-form{
    height: 50px;
    width: 60px;
}

#tabla-bd{
    display: flex;
    flex-direction: column;
}

#tabla-bd tr{
    display: flex;
    flex-direction: row;
    width: 90vw;
    font-family: 'Roboto', sans-serif;
}

.small-space{
    display: flex;
    width: 5em;
}

.medium-space{
    display: flex;
    width: 16.2em;
}

.container-bd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

#tabla-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daedfe;
    height: 30px;
}
.center{
    justify-content: center;
    align-items: center;
}

.button-db{
    height: 30px;
    width: 30px;
}

.get{
    background-color: #54fa3b;
    border: 1px solid #47903c;
}

.delete{
    background-color: #fe3434;
    border: 1px solid #ad2b2b;
}