*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    height: 85px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
    padding: 12px;
}
a:hover{
    background-color: aqua;
}
/**************************************************//*Header*/
#title-pag{
    margin: 0px 40px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    margin: 0px 40px;
}

/**************************************************//*Contact*/

/*****************************//*Body*/
#form-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 45em;
}

#contact-place{
    height: 35em;
    width: 35em;
    background-color: aqua;
}