/*
.color1 {color: #acc7d5;}
.color2 {color: #d1ede7;}
.color3 {color: #001312;}
.color4 {color: #747a7e;}
.color5 {color: #f8f8f8;}
*/
:root{
    --color-1:#f8f8f8;
    --color-2:#747a7e;
    --color-3:#acc7d5;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    height: 85px;
    background-color: var(--color-1);
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid #000;*/
}
li{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
    padding: 12px;
}
a:hover{
    color: var(--color-3);
    cursor: pointer;
}
/**************************************************//*Header*/
#title-pag{
    margin: 0px 40px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    margin: 0px 40px;
}

/**************************************************//*Index*/
/*****************************//*Body*/
body{
    display: flex;
    flex-direction: column;
}
.title-section{
    display: flex;
    flex-direction: column;
    margin:0em 2em;
    gap: 1em;
}
#mas-vendido{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 2em 0em 0em 0em;
}
.product-item{
    display: flex;
    height: 32em;
    width: 23em;
    padding:0.2em;
    /*background-color: #2e2e2e;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-product{
    background-color: #000;
    width: 22.2em;
    height: 18.5em;
    margin: 0.5em;
}
.description-product{
    margin: 2em 0em;
}
#list-items{
    display: flex;
    margin: 0em 2em;
    flex-wrap: wrap;
    /*background-color: beige;*/
}
.image-product{
    height: 100%;
    width: 100%;
}
#container-title{
    animation: aparecerd 1s linear;
}
/***********************//*Section*/
#sbody{
    height: 50em;
}
/*****************************//*Footer*/
footer{
    background-color:var(--color-1);
}
#container-footer{
    display: flex;
    flex-direction: row;
    gap:100px;
}
#info-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#copy-final{
    display: flex;
    justify-content: center;
    margin: 0.5em 0em;
}
.list-footer{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.list-footer a{
    box-sizing: border-box;
}
.title-list-footer h3{
    margin: 0em 10px;
}
.block{
    display: flex;
    margin: 3em;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.place-list-footer{
    margin: 0.5em 0em;
}
.list-footer-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navegacion-footer{
    margin-left:20px;
}
/**************************************************//*Contact*/

/*****************************//*Body*/
#path{
    animation: aparecer 2s linear;
}
#path a{
    color: #2e2e2e;
}
#form-contact{
    display: flex;
    /*background-color:antiquewhite;*/
    height: 75em;
}
.container{
    margin: 40px auto;
}
#contact-place{
    height: 35em;
    width: 35em;
    background-color: aqua;
}
#place-form{
    display: flex;
    flex-direction: column;
    margin: 0px 180px;
    gap: 12px;
}

#place-form form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dual-inputs{
    display: flex;
    gap: 1em;
    animation: aparecerd 1s linear;
}
.input-s-style{
    height: 4.3vh;
    width: 20vw;
    border: 1px solid #cfcfcf;
}
.inputstyle{
    height: 4.3vh;
    width: 41.2vw;
    border: 1px solid #cfcfcf;
}
label{
    font-size: 15px;
    color: #2e2e2e;
}
#button-enviar{
    background-color: #7FC6C9;
    color: #fff;
    border:2px solid #78BBBE;
    padding: 10px 20px;
}

.advInsert{
    color: red;
    font-size: 14px;
}
.error{
    height: 4.3vh;
    width: 38vw;
    
}
.error-dual{
    height: 4.3vh;
    width: 20vw;
}
.error,.error-dual{
    border: 1px solid #ff0000;
}
textarea{
    width: 41vw;
    height: 12em;
}
#telefono-form, #nombre-local-form, #direccion-local-form, #mqv-local-form,#cnc-local-form,#textarea-form{
    animation: aparecerd 1s linear;
}
#button-form{
    opacity: 0;
    animation: aparecer 3s;
    animation-fill-mode: forwards;
}
/*Animaciones*/
@keyframes aparecerd{
    from{
        transform: translateY(30px);
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}
@keyframes aparecer{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}