*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    height: 85px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid #000;*/
}
li{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
    padding: 12px;
}
a:hover{
    background-color: aqua;
}
/**************************************************//*Header*/
#title-pag{
    margin: 0px 40px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    margin: 0px 40px;
}

/**************************************************//*Index*/
/*****************************//*Body*/
.title-section{
    display: flex;
    flex-direction: column;
    margin:0em 2em;
    gap: 1em;
}
#mas-vendido{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 40em;
    padding: 2em 0em 0em 0em;
}
.product-item{
    display: flex;
    height: 32em;
    width: 23em;
    padding:0.2em;
    /*background-color: #2e2e2e;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-product{
    background-color: #000;
    width: 22.2em;
    height: 18.5em;
    margin: 0.5em;
}
.description-product{
    margin: 2em 0em;
}
#list-items{
    display: flex;
    margin: 0em 2em;
    flex-wrap: wrap;
    /*background-color: beige;*/
}
.image-product{
    height: 100%;
    width: 100%;
}
/***********************//*Section*/
#break-info{
    height: 43em;
    background-color: yellowgreen;
}
#break-info{
    background-image: url("https://picsum.photos/id/257/5000/3333");
    background-size: auto;
}
/*****************************//*Footer*/
footer{
    height: 25em;
}
/**************************************************//*Contact*/

/*****************************//*Body*/
#form-contact{
    display: flex;
    /*background-color:antiquewhite;*/
    height: 45em;
}
.container{
    margin: 40px 0px;
}
#contact-place{
    height: 35em;
    width: 35em;
    background-color: aqua;
}
#place-form{
    display: flex;
    margin: 0px 180px;
}
#place-form form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputstyle{
    height: 4.3vh;
    width: 38vw;
    border: 1px solid #cfcfcf;
}
label{
    font-size: 15px;
    color: #2e2e2e;
}
#button-enviar{
    background-color: #7FC6C9;
    color: #fff;
    border:2px solid #78BBBE;
    padding: 10px 20px;
}

.advInsert{
    color: red;
    font-size: 14px;
}
.error{
    height: 4.3vh;
    width: 38vw;
    border: 1px solid #ff0000;
}
